﻿
@{
    ViewData["Title"] = "CustomerBase";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Base</title>
</head>
<body>
    <p>
        <h2>
            <a asp-controller="Reports" asp-action="DoneWork" class="btn btn-primary btn-block" style="font-size:xx-large; text-align:left">Отчет о проделанной работе</a>
        </h2>
        <h2>
            <a asp-controller="Settings" asp-action="CustomersList" class="btn btn-default btn-block" style="font-size:xx-large; text-align:left">Список объектов</a>
        </h2>
        <h2>
            <a asp-controller="Whatsnew" class="btn btn-default btn-block" style="font-size:xx-large; text-align:left">Что нового?</a>
        </h2>
        <h2></h2>

</body>
</html>
