﻿@model CustomerBaseCore.ModelsView.DoneWorkViewModel

@{
    ViewData["Title"] = "Сопровождение";
}


<style>

    /* DoneWork Table AddedRow */
    td.tdAddedRow {
        padding: 0;
        background: cornsilk
    }

    tr:hover td.tdAddedRow {
        padding: 0;
        background: NavajoWhite
    }

    tr.selected td.tdAddedRow {
        padding: 0;
        background: BurlyWood
    }



    /* css DoneWork Table buttons */
    button.dt-button {
        padding: 0px 12px 3px;
        font-family: 'Comic Sans MS';
        height: 33px;
    }

    .dt-button.bt-add {
        background: DodgerBlue;
        color: white;
    }

    .dt-button.bt-edit {
        background: MediumSeaGreen;
        color: white;
    }

    .dt-button.bt-export {
        background: MediumOrchid;
        color: white;
    }

    .dt-button.bt-del {
        background: LightSalmon;
        font-weight: bold;
        margin-left: 228px;
    }

    :hover.dt-button.bt-del {
        color: red;
    }

    :hover.dt-button {
        color: black;
    }
</style>


<h3>Отчет о проделанной работе</h3>

<hr />
<div class="container-fluid">
    @using (Html.BeginForm("IndexDoneWork", "DoneWork", FormMethod.Get))
    {
        <div class="form-row align-items-center">
            @* Дата сопровождения С *@
            <div class="col-auto">
                <div class="input-lable input-lable-sm"><label asp-for="DateFrom">Дата с</label></div>
                <input type="date" asp-for="DateFrom" class="form-control form-control-sm mb-2 input-sf" />
            </div>


            @* Дата сопровождения ДО *@
            <div class="col-auto">
                <div class="input-lable input-lable-sm"><label asp-for="DateTill">до</label></div>
                <input type="date" asp-for="DateTill" class="form-control form-control-sm mb-2 input-sf" />
            </div>


            @* Кто сопровождал объект *@
            <div class="col-auto">
                <div class="input-lable input-lable-sm"><label asp-for="ParamVisitorId">Кто</label></div>

                @{var visitorListItem = new Visitors(); }
                @Html.InputDataListHelper(listItems: Model.VisitorList,
                          inputAttrName: nameof(Model.ParamVisitorId), inputAttrDataId: Model.ParamVisitorId.ToString(),
                          listPropName: nameof(visitorListItem.VisitorFIOShort),
                          htmlAttrInput: new { @class = "input-sf form-control-sm mb-2" },
                          htmlAttrButton: new { @class = "btn-sm mb-2" })
            </div>


            @* Объект сопровождения *@
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-lable input-lable-sm input-group-prepend"><label asp-for="ParamCustomerId">Объект</label></div>
                    <select class="selectpicker" title="&nbsp"
                            data-live-search="true" data-width="fit" data-style="btn-sm mb-2"
                            asp-for="ParamCustomerId">
                        @foreach (var item in Model.CustomersList)
                        {
                            <option value="@item.Id">@item.CustomerName</option>
                        }
                    </select>

                    <div class="input-group-append">
                        <button id="deselectAll" type="button" class="btn btn-sm clr-selected mb-2" tabindex="-1">&nbsp;</button>
                    </div>
                </div>
            </div>

            @* Фильтр по признаку "Без учета вермени" *@
            <div class="col-auto">
                <div class="ks-container">
                    <ul class="ks-cboxtags">
                        <li style="float:right">
                            <input type="checkbox" asp-for="WithoutTime" />
                            <label asp-for="WithoutTime">без учета времени</label>
                        </li>
                    </ul>
                </div>
            </div>


            @* Кнопка "Запрос"  *@
            <div class="col-auto">
                <div class="input-lable input-lable-sm"></div>
                <input type="submit" class="btn btn-primary mb-2" value="Запрос" />
            </div>

            <div class="validation col-auto" asp-validation-summary="All" style="color: red; font-weight:bold; "></div>
        </div>




        @*Скрытые поля для инициализации модели*@
        <input type="hidden" asp-for="ProgressReportList" value=@Model.ProgressReportList />
        <input type="hidden" asp-for="VisitorList" value=@Model.VisitorList />
        <input type="hidden" asp-for="CustomersList" value=@Model.CustomersList />




    }
</div>
<hr />

<div class="container-fluid">

    <!--Modal -->
    <div class="modal draggable fade bs-example-modal-lg" tabindex="-1"
         role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #f9cd48; color: darkred; border-color: black; padding: 5px 15px">
                    <h6 class="modal-title" id="modalLabel">Факт сопровождения</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                @using (Html.BeginForm("Create", "SupportFact", FormMethod.Post, new { @id = "formSupportFact" }))
                {
                    <div class="modal-body" style="        padding: 7px">
                        <div id="SupportFact">
                            Загрузка....
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" style="width: 70px">OK</button>
                    </div>
                }
            </div>
        </div>
    </div>


    <table id="IDTable" class="table table-hover compact" cellspacing="0" style=" width: 100%; font-size:smaller">
        <thead id="IdTHead">
            <tr class="" style="        background: #f9cd48;
        border-color: black;
        color: black">
                <th width="30%">Данные </th>
                <th>Выполеннная работа</th>
            </tr>
        </thead>
        <tfoot>
            <tr style="        background: #f9cd48;
        border-color: black;">
                <th width="30%"> </th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @{ await Html.RenderPartialAsync("_ProgressReportListPartial", Model.ProgressReportList); }
        </tbody>
    </table>
</div>






<script>


    /* =================================================== */
    /*                       События                       */
    /* =================================================== */
    var _visitId = -1;

    /* Событие на загрузку страницы */
    $(document).ready(function () {


        /* === Для DoneWorkModel === */

        $('#IDTable tfoot th').each(function () {
            $(this).html('<input type="text" placeholder="фильтр"/ >');
        });

        $('#IDTable tfoot input').css({
            "width": "100%",
            "padding": "0",
            "box-sizing": "border-box"
        });



        // Инициализировать таблицу
        var dtDoneWork =  InitDataTable('#IDTable');

        //Событие на doubleClick по строке таблицы
        $('#IDTable tbody').on('dblclick', 'tr', function () {
            dtDoneWork.row(this).select();
            $('.bt-edit').trigger('click');
        });


        /* ================================================================================================= */
        /* ===                              Модальная форма IndexSupportFact                             === */
        /* ================================================================================================= */

        // Загрузить данные для модальной формы
        $('.bs-example-modal-lg').on('shown.bs.modal',
            function (e) {
                // Временное сообщение до загрузки контента.
                $("#SupportFact").html("<h4>Загрузка....</h4>");

                $.get('@Url.RouteUrl(new { controller = "SupportFact", action = "NewOrOld" })', {idVisit: _visitId},
                    function(data, status, jqXHR) {
                        $("#SupportFact").html(data);
                    });
            });

        // Действия при отправке данных формы
        $('#formSupportFact').submit(function (event) {
            // Переиндексировать строки input...name=CompletedJob[i].param для Model Binding
            ReindexRowsCompletedJob();

            fthis = $(this);

            // Отправка данных формы через ajax (отправка через submit далее отменяется)
            $.ajax({
                url: fthis.attr("action"),
                method: 'post',
                dataType: 'html',
                async: false,
                data: $(fthis).serialize(),

                // Успешное действие
                success: function (response) {
                    //Закрыть модальную форму самостоятельно
                    $('.bs-example-modal-lg').modal('hide');

                    // Получить данные для новой строки отчета
                    $.ajax({
                        url: '@Url.RouteUrl(new { controller = "Reports", action = "DoneWorkById" })',
                        method: 'get',
                        dataType: 'html',
                        async: false,
                        data: {idVisit: response},
                        success: function (rowDoneWork) {
                            // "Разрушить объект DataTable"
                            dtReportDoneWork = $('#IDTable').DataTable();
                            dtReportDoneWork.destroy();

                            // Добавить новые строки в начала таблицы о проделанной работе
                            var rowDoneWork = $(rowDoneWork);
                            rowDoneWork.find('td').each(function (trIdx) {
                                $(this).addClass('tdAddedRow');
                            });

                            // Action for new protocol SupportFact (Add)
                            if (_visitId == -1) {
                                // Clear selected rows before initialization
                                $('#IDTable').find('.selected').each(function () {
                                    $(this).removeClass("selected");
                                });

                                // Add new row of done work
                                $('#IDTable tbody').prepend(rowDoneWork);
                            }
                            // Action for edited protocol SupportFact (Edit)
                            else {
                                $('#IDTable').find('.selected').each(function () {
                                    $(this).replaceWith(rowDoneWork);
                                });
                            }

                            // Заново проинициализировать объект DataTable
                            dtDoneWork = InitDataTable('#IDTable');

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            swal({
                                title: textStatus.replace("error", "Ошибка") + '! ' + errorThrown + '!',
                                text: jqXHR.responseText,
                                icon: "error",
                                closeOnClickOutside: false
                            });
                        }
                    });

                },

                // Если сервер вернул ошибку
                // (или было вызвано DynamicException - контроль корретности данных на уровне тригеров БД)
                error: function (jqXHR, textStatus, errorThrown) {
                    var DynamicException = jqXHR.responseText.replace("DYNAMIC_EXCEPTION", "");
                    swal({
                        title: textStatus.replace("error", "Ошибка") + '! ' + errorThrown + '!',
                        text: DynamicException,
                        icon: "error",
                        closeOnClickOutside: false
                    });
                }
            });

            @* Отменить отправку через submit
               что позволит повторно не отправлять данные для ajax: success
               или не закрывать модальную форму если ajax: error  *@
             return false;
        });

        // Очистить контент модальной формы (при ее скрытии)
        $('.bs-example-modal-lg').on('hidden.bs.modal', function (e) {
            $('#SupportFact').empty();
        });


    });







    // Функция инициализации табилицы DataTable
    function InitDataTable(IDTable) {

        // Инициализация DataTable
        return $(IDTable).DataTable({
            "scrollY": "62vh", @* vh - позволяет менять высоту в зависимости от размера окна *@
            "scrollCollapse": true,
            "paging": false,
            "order": [],   @* Отменить сортировку - сортировать так, как выводить модель *@
            "select": "single", @* возможность выделять (отмечать) одну строку *@
            "dom": 'Blrtip',
            @* dom: Валерий: последовательность отображения элементов:
               первый сивол`l` - значит первым элементом при инициализации DataTables будет`{length}`
               второй `r` - `{processing}` судя по документации. Хочешь пейджинг перед таблице поставь`p` перед `i`.
               не хочешь пейджинг - вообще убери `p`.
               Я: только не понял, почему "dom": 'lrtip' отключило поиск.
               Валерий: потому что там нет символа `f`, который отвечает за поиск `f - filtering input` *@
            buttons: [
              @*  {
                    text: 'Разгруппировать',
                    action: function (e, dt, node, config) {
                        dt.rows('tr.tr-group').remove().draw();
                        $('span.visit-date').show();
                        /*
                        $('tr.tr-group').hide();
                        dt.order.fixed({ post: [0, 'desc'] }); */
                    }
                },
                {
                    text: 'паказать группы',
                    action: function (e, dt, node, config) {
                        // let tmp = _.(IDTable, 'span.visit-date');
                        dt.order.fixed({ pre: [0, 'desc'] });
                        $('tr.tr-group').show();
                        $('span.visit-date').hide();
                        dt.draw();
                    }
                }, *@
                {
                    /* Произвольные кнопки */
                    /* Работа с произвольными кнопками: https://www.datatables.net/extensions/buttons/examples/initialisation/custom.html */
                    text: 'Добавить',
                    className: 'bt-add',
                    action: function (e, dt, node, config) {
                        _visitId = -1;
                        $('.bs-example-modal-lg').modal('toggle'); /* https://getbootstrap.com/docs/3.3/javascript/#modals-methods */
                    }

                },
                {
                    text: 'Редактировать',
                    className: 'bt-edit',
                    action: function (e, dt, node, config) {
                        let visitId = $('#IDTable tr.selected').attr("data-visitId");
                        if (visitId) {
                            _visitId = visitId;
                            $('.bs-example-modal-lg').modal('toggle');
                        }
                        else
                            swal({
                                title: "Для редактирования, необходимо выбрать строку!",
                                icon: "error",
                                closeOnClickOutside: false
                            });
                    }

                },
                {
                    extend: 'collection',
                    text: 'Экспорт',
                    className: 'bt-export',
                    buttons: [
                        {
                            extend: 'print', text: 'Печать',
                            exportOptions: {
                                modifier: {
                                    selected: null
                                }
                            }
                        },
                        {
                            extend: 'excel', text: 'Microsoft Excel',
                            exportOptions: {
                                modifier: {
                                    selected: null
                                }
                            }
                        },
                        {
                            extend: 'pdf', text: 'Документ PDF',
                            exportOptions: {
                                modifier: {
                                    selected: null
                                }
                            }
                        },
                        {
                            extend: 'copy', text: 'В буфер обмена',
                            exportOptions: {
                                modifier: {
                                    selected: null
                                }
                            }
                        }
                    ]
                },
                {
                    text: 'Удалить',
                    className: 'bt-del',
                    action: function (e, dt, node, config) {
                        // Delete selected done work
                        let visitId = $('#IDTable tr.selected').attr("data-visitId");
                        if (visitId) {
                            // Получить данные для новой строки отчета
                            $.ajax({
                                url: '@Url.RouteUrl(new { controller = "SupportFact", action = "Delete" })',
                                method: 'DELETE',
                                async: false,
                                data: {idVisit: visitId},
                                success: function (rowDoneWork) {
                                    // Delete row from DataTable
                                    dt.rows('.selected')
                                        .remove()
                                        .draw();
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    var DynamicException = jqXHR.responseText.replace("DYNAMIC_EXCEPTION", "");
                                    swal({
                                        title: textStatus.replace("error", "Ошибка") + '! ' + errorThrown + '!',
                                        text: DynamicException,
                                        icon: "error",
                                        closeOnClickOutside: false
                                    });
                                }
                            });
                        }
                        else
                            swal({
                                title: "Для удаления, необходимо выбрать строку!",
                                icon: "error",
                                closeOnClickOutside: false
                            });
                    }
                }
            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change',
                        function () {
                            that
                                .search(this.value)
                                .draw();
                        });
                });

                //$('span.visit-date').hide();
            }
        });

    }


</script>